<!DOCTYPE html>
<html>
<head>
  <title>Tidio</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<div class="container">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
